
<body>
  <div class="header">
  
    <div class="title"><p class="text">Black Jack!</p>
    
   
        <% if user_signed_in? %>
            <div class="user_info">
              <%= button_to "マイページ", "/users/#{current_user.id}", class: "post" %>
              <%= button_to "ログアウト", destroy_user_session_path, method: :delete , class: "post" %>
            </div>
        <% else %>
          <div class="user_info">
            <%= button_to "ログイン", new_user_session_path, class: "post" %>
            <%= button_to "新規登録", new_user_registration_path, class: "post",method: :get %>
        </div>
        <% end %>
    </div>
     <p class="user"><span>
     <% if user_signed_in?%>
     <%= image_tag current_user.image, class: "icon_image"%>
      <%=current_user.nickname%>
      <% else %>
      <img src="https://placehold.jp/3d4070/ffffff/200x200.png?text=Guest" class="icon_image">
      こんにちわ、ゲスト
     <% end %></span>さん<p>
  </div>
  
  <div class="body">
  <div class="left_container">
  <div id="container">
  
      <div class="message">Betを決めて、Startボタンで開始します。</div>
      
      <ul id="board_c">
        <div class="total_c">合計:<span id="total_c"></span></div>
        <div id="card">
          <div id="card_4"></div>
          <div class="back_4"></div>
        </div>
        <div id="card">
          <div id="card_3"></div>
          <div class="back"></div>
        </div>
        <div class="win_lose"></div>
      </ul>
      <ul id="board_p">
      <div class="total_p">合計:<span id="total_p"></span></div>
        <div id="card">
          <div id="card_1"></div>
          <div class="back"></div>
        </div>
        <div id="card">
          <div id="card_2"></div>
          <div class="back"></div>
        </div>
      </ul>
      <div id="action">
        <div id="btn_draw">Draw</div>
        <div id="btn_pass">Pass</div>
      </div>
      <div id="bet_set"> 
        <div>
          <button id="all" class="btn-square">All In</button>
          <button  id="triangle_left"></button>
          <input placeholder="Bet" id="bet"/>
          <button  id="triangle_right"></button>
        </div>
        <div>
        <%if user_signed_in?%>
          <input readonly placeholder="Bet" id="point" value =<%=@point %> />
        <% else %>
          <input readonly placeholder="Bet" id="point" value = 100>
        <% end %>
        </div>
      </div>
    </div>
      <div>
        <button id="start" class="btn-square">Start</button>
        <button id="next" class="btn-square">Next Game</button>
      </div>
    </div>
    

    <div class="right_side">
    <div class="ranking">
      <p class="text"> Point Ranking</p>

      <div class="total">
       <div class="rank_number">
    
        <div class="user_name">
          <div class="rank">
          <%= image_tag 'gold.png', class:"ranking_icon" %>
          </div>
          <div class="rank">
          <%= image_tag 'silver.png', class:"ranking_icon" %>
          </div>
          <div class="rank">
          <%= image_tag 'brond.png', class:"ranking_icon" %>
          </div>
          <div class="rank">4位</div>
          <div class="rank">5位</div>
        </div>
       </div>
       <div>
        <%@sort.first(5).each do|user|%>
          <div class="user_name">
            <%=user[0]%>
            <p ><span class="points"><%=user[1]%>p</span><%=user[2]%></p>
          </div>
        <%end%>
      </div>
      </div>
    </div>
    <div class="debt">
      <% if user_signed_in? %>
        <button id="debt" class="btn-square">ポイントを借りる</button>
      <% end %> 
    </div>

    <div class="payoff">
    <% if user_signed_in? %>
      <% if Debt.exists?(user_id:current_user.id) && Debt.find_by(user_id:current_user.id).debt_point != 0%>
        <button id ="repay" class="btn-square">借りたポイント精算</button>
      <% end %> 
    <% end %>
    </div>

</div>

  
  <div id="modal">
    <div id="contents">
      <div class="window sign">
        <div class="PointRental">Point Rental</div>
        <div >
            <%= button_to "5000pを借りる", {controller: "debts",action:"create"}, {method: :post ,class:"btn-square",id:"rent"}%>
        </div>
        <div><p class="close">(Click outside the frame to close it.)</p></div>
      </div>
    </div>
  </div>

  <div id="modal_2">
    <div id="contents">
      <div class="window repay">
        <div class="PointRental">Repay Debt</div>
        <div class="explain"><span id="under">手持ち5000pを残して、</span>借りたポイントを精算します。</div>
        <div >
            <%= button_to "精算", {controller: "debts",action:"index"}, {method: :get ,class:"btn-square",id:"repay_"} %>
        </div>
        <div><p class="explain">(Click outside the frame to close it.)</p></div>
      </div>
    </div>
  </div>
  
  
</body>
